{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "178.62.103.4:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "178.62.104.237:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "178.62.127.181:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.35:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.40:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.46:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.50:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.53:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.56:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.60:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.61:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.63:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.64:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.66:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.67:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.74:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.78:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.82:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.92:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.98:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.103:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.80.98:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.81.85:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.152.149:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.152.181:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.20:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.21:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.22:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.23:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.24:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.25:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.26:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.27:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.28:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.29:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.30:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.31:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.32:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.33:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.34:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.35:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.36:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.37:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "188.166.168.38:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.106:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.116:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.120:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.121:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.123:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.26.129:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    }
  ],
  "tcp_acceptor_port": 5483,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [],
  "tcp_mapper_servers": []
}